.recipe-card {
  cursor: pointer;
}

.recipe-details {
  margin-top: 10px;
}

.recipe-details h3 {
  margin-bottom: 5px;
}

.recipe-details ul {
  list-style-type: none;
  padding: 0;
}

.recipe-details li {
  margin-bottom: 5px;
}
